/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;700&family=Roboto:wght@100;300;400;700');

/* Colors */
:root{
  --primary-color: fff;
  --secondary-color: fff;
  --tertiary-color: #babfcc;
  --tertiary-accent: #464952;
  --background-color: #F2F3F3;
}

/* Global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html, body{
  overflow-x: hidden !important;
}

body {
  font-family: Roboto, Roboto Mono, 'Helvetica Neue', sans-serif;
  font-size: 20px;
  position: relative;

  background-color: var(--background-color);
  color: #08143c;
}

body a{
  text-decoration: none;
  color: var(--tertiary-color); 
}

body a.active{
  color: var(--tertiary-accent);
}