/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;300;400;700&family=Roboto:wght@100;300;400;700&display=swap');

/* Colors */
:root {
  --active-text: #0a3545;
  --primary-text: #667085;
  --primary-accent: #224957;
  --secondary-color: #F2F4F7;
  --secondary-text: white;
  --green-accent: #20df7f;
  --green-light: #e1f1e6;
}

/* Global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden !important;
}
@media (min-width: 1024px){
  html,
  body {
    overflow-y: auto !important;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  position: relative;

  background-color: var(--secondary-color);
  color: var(--secondary-text);
}

body a {
  text-decoration: none;
  color: var(--primary-text);
}

/* HEADINGS */
h1 {
  font-size: 44px;
  line-height: 48px;
  font-weight: 400;
}
h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}
h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
}
h4 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}
body p {
  font-size: 20px;
  line-height: 24px;
}
@media(min-width: 1024px){
  body p{
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 64px;
    line-height: 80px;
  }
  h2 {
    font-size: 50px;
    line-height: 52px;
  }
  h3 {
    font-size: 40px;
    line-height: 42px;
  }
  h4 {
    font-size: 24px;
    line-height: 24px;
  }
}

/* BTN */
.btn {
  cursor: pointer;

  box-sizing: border-box;
  /* width: 300px; */
  height: 45px;
  padding: 10px 35px;
  text-align: center;
  font-size: 18px;

  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
@media (min-width: 1024px){
  .btn{
    font-size: 16px;
    padding: 10px 25px;
  }
}

.btn[disabled] {
  cursor: default;
  opacity: 0.2;
}

.btn-primary {
  color: white;
  background-color: var(--green-accent);
}

.arrow-back{
  color: var(--green-accent);
  height: 25px;
}

/* DISPLAY */
@media(min-width: 1024px){
  .hide {
    display: none;
  }
}

/* INPUTS */
input,
textarea {
  background-color: transparent;
  outline: none;
  border: 0;

  font-size: 20px;
  font-family: Roboto;
}

textarea {
  width: 100%;
  resize: none;
  min-height: 50px;
  margin-top: 10px;
  font-size: 18px;
  background-color: var(--secondary-text);
  border-radius: 15px;
  padding: 10px;
  max-width: 94%;
}

input.error,
textarea.error {
  background-color: rgba(255, 0, 0, 0.1) !important;
  border: 2px solid rgba(255, 0, 0, 0.3) !important;
  color: #ff0000 !important;
}
.warn {
  display: none;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  animation: shake 300ms;
}
.warn.textError {
  color: #ff0000;
}
@keyframes shake {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}

/* TEXT SUCCESS */
.warn.textSuccess {
  color: var(--green-accent);
}

/* Tooltip */
.tooltip {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  padding: 10px;
  background-color: var(--active-text);
  color: white !important;
  min-width: 150px;
  max-width: 180px;
  border-radius: 5px;
  text-align: center;
  filter: drop-shadow(0 3px 5px #ccc);

  line-height: 1.5;
  font-size: 12px;
  
  position: absolute;
}
.tooltip:after {
  content: '';
  position: absolute;
  
  width: 10px;
  height: 10px;
  background-color: var(--active-text);
  transform: rotate(45deg);
}

@media(max-width: 1023px){
  .tooltip{
    display: none;
  }
}