/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;700&family=Roboto:wght@100;300;400;700');

/* Colors */
:root{
  --primary-default: #132356;
  --primary-hover: #3658c7;
  /* --primary-tapped: #d1edff;
  --neutral-dark: #292e47;
  --neutral-medium: #6b708d;
  --neutral-light: #f2f4fc;
  --neutral-lightBlue: #ecf7ff;
  --secondary: #ffc600;
  --accent: #43d2ff; */
}

/* HEADINGS */
h1{
  font-size: 44px;
  line-height: 48px;
  font-weight: 700;
  color: var(--neutral-dark);
}
  h2{
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}
  h3{
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  color: var(--neutral-dark);
}
  h4{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}
body p{
  font-size: 20px;
  line-height: 30px;
  color: var(--neutral-medium);
}
body a{
  text-decoration: none;
  color: var(--neutral-medium);
}
@media screen and (min-width: 768px){
  h1{
    font-size: 60px;
    line-height: 70px;
  }
    h2{
    font-size: 50px;
    line-height: 52px;
  }
    h3{
    font-size: 40px;
    line-height: 42px;
  }
    h4{
    font-size: 24px;
    line-height: 24px;
  }
}

/* BUTTONS + LINKS */
.btn{
  border: 0;
  padding: 20px 25px;
  cursor: pointer;
  font-size: 17px;
  line-height: 25px;
}
@media screen and (min-width: 768px){
  .btn{
    font-size: 20px;
  }
}

.btn.btn-simple{
  padding: 0;
}

.btn.btn-primary{
  background-color: var(--primary-default);
  font-weight: 700;
  color: #fff;
}
.btn.btn-primary:hover{
  background-color: var(--primary-hover);
  font-weight: 700;
  color: var(--neutral-dark);
}

a.primary{
  font-size: 17px;
  line-height: 25px;
  color: var(--primary-default);
}
@media screen and (min-width: 1024px){
  a.primary{
    padding: 10px;
    padding-left: 0;
  }
}

/* SECTION PADDINGS */
.bigP{
  padding: 3rem 2rem;
}
@media screen and (min-width:768px){
  header.bigP{
    padding: 1.5rem 3rem;
  }
}
@media screen and (min-width: 1024px){
  .bigP{
    padding: 3rem 50px;
  }
  header.bigP{
    padding: 3rem 50px;
  }
}
@media(min-width: 1200px){
.bigP{
    padding: 3em 170px;
  }
  header.bigP{
    padding: 3rem 170px;
  }
}

.smallP{
  width: 90%;
  margin: 3rem auto;
}
@media(min-width: 1024px){
  .smallP{
    margin: 5rem;
  }
}

/* Global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html, body{
  overflow-x: hidden !important;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 20px;
  position: relative;
}